.img{
   width: 200px;
   height: 250px;
   object-fit: cover;
}
.container{
margin-top: 200px;
position: relative;

}
.text{
   position: absolute;
   top:6px;
   right: 0;
   background-color: rgba(0, 0, 0, 0.715);
   color: white;
   padding: 7px;
   font-size: 16px;
}
.add{
   position: absolute;
   left: 0;
   bottom: 0;
   right: 0;
   top: 220px;
   background-color: rgba(206, 206, 206, 0.777);
   display: flex;
   justify-content: center;
   align-items: center;

}
.add-button{
   
}